.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right center;
}

.container {
  width: 100%;
  max-width: var(--content-width);
  min-height: 100vh;
}
