* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --black: #000000;
  --white: #ffffff;
  --red: #b81d24;
  --red-light: #ee3424;
  --content-width: 1250px;
  --border-radius: 20px;
  --gradient-black: linear-gradient(
    180deg,
    #181818 0%,
    rgba(24, 24, 24, 0.1) 100%
  );
  --gradient-darker: linear-gradient(180deg, #424141 0%, #111 100%);
}

html {
  background-color: var(--black);
  font-size: 14px;
  font-size: 1em;
  color: var(--white);
  font-family: "Roboto", "Arial";
  height: 100%;
}

body,
#root {
  height: 100%;
}
